body {
background-color: black;
}
#Loading {
position: absolute;
left:35%;
top:35%;
font-weight: bolder;
color: red;
font-size: 50px;
z-index: 5;
animation: inout 1s alternate infinite;
visibility: hidden;
}
img.poke {
transform: scale(2);
}
.hidden {
  display: none;
}
input {
border-radius:10px;
}
input:focus {
padding: 10px;
}
#results {
position: relative;
border-radius: 30px;
color: white;
}
#listHeading {
font-size: 25px;
font-weight: bolder;
text-decoration: underline;
margin-top:3px;
color: lightBlue;
text-shadow: 0px -2px 30px white;
}
#sideNav {
border-radius: 60px;
transition: all .3s ease-in-out;
position: absolute;
left:calc(50% - 198px);
top: calc(50% - 104.5px);
width: 375px;
text-align: center;
background-color: black;
overflow: hidden;
z-index: 1;
}
#sideNav.lower {
top: calc(89% - 165.5px);
}
@media screen and (max-width: 380px) {
    #sideNav {
        font-size: 2px;
		left: -200%;
		opacity: 0;
    }
}
#listOfPlaces {
background-image: radial-gradient(purple, black);
background-size: contain;
position: relative;
font-size: 25px;
list-style-type: none;
position: relative;
left: 3%;
margin:0;
width: 100%;
margin-top: 15px;
font-weight: bolder;
color: #fff;
margin-bottom: 10px;
padding: 0;
float: left;
}
#listOfPlaces li.mapLink {
text-shadow: 1px 2px 2px black;
cursor: pointer;
}
#listOfPlaces li:hover {
color: rgba(255, 0, 255, 1);
}

@keyframes inout {
0% { opacity: 1;}
100% { opacity: 0;}

}